<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/logowd.png');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/profile.jpg');"></div>
                <h3><a class="light">Ezekiel Sebastine</a></h3>
                <h4>eaZy-d</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
<!--             <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a> -->
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-home"></i> Home
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-contacts"></i> eContacts
            </a>
        </div>
        <h4 class="content padding double-padding-x">Emergency list</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(1)" id="rob">
                <img src="img/robbery.png">
                <h2>Robberym</h2>
                <p>All act of robbery</p>
                <i class="icon ion-paper-airplane"></i>
                
            </a>
            <input type="file" accept="image/*" capture="camera" hidden id="cam" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(2)">
                <img src="img/health.png">
                <h2>Health</h2>
                <p>All health emergencies</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam2" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(3)">
                <img src="img/accident.png">
                <h2>Road accident</h2>
                <p>All road accidents</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam3" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(4)">
                <img src="img/fire.png">
                <h2>Fire</h2>
                <p>All fire accidents</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam4" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(5)">
                <img src="img/floodIcon.png">
                <h2>Flood</h2>
                <p>Flood emergency</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam5" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(6)">
                <img src="img/electrickshock.png">
                <h2>Electric shock</h2>
                <p>Life threatening electric shock</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam6" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(7)">
                <img src="img/landslide.png">
                <h2>Land slide</h2>
                <p>Movind earth!</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam7" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(8)">
                <img src="img/hazard.png">
                <h2>Biological hazard</h2>
                <p>Biological hazard</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam8" />
            <a ui-sref="" class="item item-avatar item-icon-right" onclick="getLocation(9)">
                <img src="img/radioactive.jpg">
                <h2>Nuclear</h2>
                <p>Radioactive etc</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
             <input type="file" accept="image/*" capture="camera" hidden id="cam9" />
            <a ui-sref="" class="item item-avatar item-icon-right"  onclick="getLocation(10)">
                <img src="img/accident.png">
                <h2>Other</h2>
                <p>Any other emergency</p>
                <i class="icon ion-paper-airplane"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
