<ion-view view-title="Signup" align-title="left">
    <ion-content style="background-size: cover; background-color: lightblue;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>iCE Register</h1>
            </div>
        </div> 
        <div class="list"> 
            <ion-md-input placeholder="Full name" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Phone number" highlight-color="balanced" type="tel"></ion-md-input>
            <ion-md-input placeholder="Email" highlight-color="balanced" type="email"></ion-md-input>
            <ion-item>
                <label class = "item item-input item-select">
                   <div class = "input-label">
                      Gender
                   </div>
                    
                   <select>
                      <option value="">--Select--</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                   </select>
                </label>
            </ion-item>
            <ion-md-input placeholder="password" highlight-color="balanced" type="text"></ion-md-input>
            <p><p><hr>
            In case of emergency, who do we call
            <ion-md-input placeholder="Full name" highlight-color="energized" type="text"></ion-md-input>
            <ion-md-input placeholder="Phone number" highlight-color="energized" type="tel"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Submit</button>
        </div>
        <div class="padding">
            <button ui-sref="app.login" class="button button-full button-calm-100 ink">Back to login</button>
        </div>
<!--         <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
    </ion-content>
</ion-view>
