<ion-view view-title="Settings">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="content has-header">
                <div id="message" style="width: 100%; text-align: center; color: red; font-style: sans-serif">
            
        </div>
        <div class="list"> 
            <input placeholder="Full name*" highlight-color="balanced" type="text" style="width: 100%;background-color: lightgrey;" id="name"></input><br>
            <input placeholder="Phone number*" highlight-color="balanced" type="tel" style="width: 100%; background-color: lightgrey;" id="phone"></input><br>
            <input placeholder="Email*" highlight-color="balanced" type="email" style="width: 100%;background-color: lightgrey;" id="email"></input>
            <ion-item>
                <label class = "item item-input item-select">
                   <div class = "input-label">
                      Gender
                   </div>
                   <select id="gender">
                      <option value="">--Select--</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                   </select>
                </label>
            </ion-item>

            <div style="width: 100%; text-aline:center"> <a href="#">Click here to change password</a> </div>
        </div>
        <div class="padding">
            <button ui-sref="" class="button button-full button-assertive ink" onclick="doSignup()">Update</button>
        </div>
        <div class="padding">
            <button ui-sref="app.login" class="button button-full button-calm-100 ink">Back to login</button>
        </div>
        </div>
    </ion-content>
</ion-view>
